
p,span,div,button,input,table,th,tr,thead,td {font-family: "Roboto", sans-serif;}

h1,h2,h3,h4,h5,h6{
  font-family: 'Josefin Sans', sans-serif;
}
@font-face {
	font-family: "Agus Sans";
	src: url("../Images/AgusSans-Regular.ttf");
	src: url("../Images/AgusSans-Regular.woff") format("woff"),
	url("../Images/AgusSans-Regular.otf") format("opentype"),
	/* url("CustomFont.svg#filename") format("svg"); */
}

#nav{
      background-color: #1B1B1B;
}
/* Logo */

#nav > h5{
  padding:8px 0px 0px 5px;
  font-family: 'Agus Sans';
  font-size: 21px;
  color: #fefefe;

}
/* Navbar links */

#collapsibleNavbar a{
  color: #fefefe;
}

/* Hype button */
#hype{
  background-color: #FC6E20;
}
.nav-item{
    padding-left: 15px;
    padding-right: 15px;

}
.section1{
    background-image: url('Images/bike2.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    padding-top: 120px;
    height: 600px;
}
.content{
    color: silver;
    padding-left: 40px;

}
.content h1{
    font-size: 60px;
}
.about{
    background-color: white;
    color: black;
}

.column{
  margin: 0 auto;
  padding-bottom: 80px;
  padding-right: 10px;
  padding-left: 10px;

}
.row{
padding-top: 30px;

}
.column h1{
    font-weight: 600;
font-size: 45px;
}


  /*animations*/


 /*back to top back-to-top*/
 #button-scroll{
    display: inline-block;
    background-color:white;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
    opacity: 0.7;
    padding-bottom: 20px;
  }

  #button-scroll::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #333;

  }
  #button-scroll:hover {
    cursor: pointer;
    background-color:black;

  }
  #button-scroll:active {
    background-color: #555;
  }
  #button-scroll.show {
    opacity: 0.3;
    visibility: visible;
  }
  .img-background{
    background-color: #333;
    height: 500px;
  }
  .vehical-description{
    text-align: center;
  }
  .vehical-description h1{
    font-weight: 600;
  }
  .vehical-description p{
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
    font-weight: 600;
  }
  .vl {
    border-left: 2px solid gray;
    height: 450px;

  }
/* for the image at the top*/
@media only screen and (max-width: 600px) {

.section1{
  background-image: none;
  height: 450px;
}
}

.contact_us{
  background-color: whitesmoke;
  padding-right: 25%;
  padding-left: 25%;
  padding-top: 20px;
  text-align: center;
}
form{
  padding-top: 20px;
  padding-bottom: 20px;
}
footer{
  background-color: #1B1B1B;
  color: white;
}
html{
  scroll-behavior: smooth;
}